<div class="p-3 mt-3 ">
    <app-sidebar></app-sidebar>
</div>
<div class="d-flex  justify-content-center border-3  border-bottom p-5 py-0">
    <h2>Enregistrer La Note </h2>
</div>

<div class="d-flex justify-content-center mt-3 ">
    <button class="btn" [ngClass]="{'btn-primary': typenote,'btn-outline-primary': !typenote}" (click)="choixE()">
        Examen
    </button>
    &nbsp;
    <button class="btn" [ngClass]="{'btn-primary': !typenote,'btn-outline-primary': typenote}" (click)="choixN()">
        Note 2
    </button>
</div>

<div class="d-flex justify-content-center mt-5">
    
    <form class="w-50" (ngSubmit)="soumit()">
        <div class="d-flex justify-content-between py-3 border-bottom "
            *ngFor="let note of notes">
            <label for="etudiant{{note.idEtudiant}}">{{note.nom}}
                {{note.prenom}}</label>
            <input type="number" name="etudiant{{note.idEtudiant}}"
                *ngIf="typenote" [(ngModel)]="note.examen"
                id="etudiant{{note.idEtudiant}}"
                class="form-control w-50 bg-body-secondary " />
            <input type="number" name="etudiant{{note.idEtudiant}}"
                *ngIf="!typenote" [(ngModel)]="note.note2"
                id="etudiant{{note.idEtudiant}}"
                class="form-control w-50 bg-body-secondary " />
            <input type="hidden" name="id{{note.idEtudiant}}"
                [(ngModel)]="note.idEtudiant" />
            <input type="hidden" name="nom{{note.idEtudiant}}"
                [(ngModel)]="note.nom" />
            <input type="hidden" name="prenom{{note.idEtudiant}}"
                [(ngModel)]="note.prenom" />
        </div>
        <button class="btn btn-dark w-100 py-2" type="submit">
            Enregistrer
        </button>
    </form>
</div>
